@media screen and (max-width: 640px)
    .homePage
        background-size: cover

    .homePage
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: repeat(6, 1fr)

    .greeting
        font-size: 3rem
        font-weight: 500
        grid-row: 3 / span 1
        grid-column: 2 / span 4
        align-self: center

    .proffesion
        font-size: 1.5rem
        grid-row: 4 / span 1
        grid-column: 2 / span 4
        align-self: center

    .aboutPage
        flex-direction: column-reverse

    .picOfMe
        width: 70%

    .aboutMeTextBlock
        margin: 5% 5%
        h1
            font-size: 1.8rem
            font-weight: bold
        p
            font-size: 1.3rem
            flex-basis: content

    .skillsPage
        padding: 5% 5%
        .skillsDescription
            h1
                font-size: 1.8rem
                font-weight: bold
            p
                font-size: 1.3rem
                flex-basis: content
        .skillsBox
            flex-wrap: wrap
            .skillType
                flex-basis: 50%
                .skillTypeName
                    font-size: 1.1rem
                    padding: 3% 8%
                    border-left: 3px solid $jet
                ul
                    list-style: none
                    padding-left: 1rem
                    li::before
                        content: '–'
                .skillItem
                    font-size: 1.05rem

    .contactPage
        padding: 0 5%
        .contactDescription
            margin-top: 5%
            h1
                font-size: 1.8rem
                font-weight: bold
            p
                font-size: 1.3rem
                flex-basis: content
        .emailAndSocialsBlock
            flex-direction: column
            .blockHeader
                font-size: 1.1rem
                letter-spacing: 2px
            .emailBlock
                .emailForm
                    .submitButton
                        margin-top: 1.5rem
            .socialsBlock
                margin-top: 10%
                .blockHeader
                    text-align: center
                    font-size: 1.5rem
                    letter-spacing: 2px
                    margin-bottom: 2rem
                ul
                    all: unset
                    justify-content: space-around
                    flex-direction: row
                    list-style: none

    .navigationBlock
        top: 2%
        right: 2%
        align-items: center
        justify-content: center
        .mobileMenu
            display: flex
            align-items: center
            padding: 5px
            border-radius: 5px
            margin-bottom: 1rem
            color: $jet
            background-color: $gainsboro
            font-weight: bold
        span            
            font-size: 1.1rem
            width: 5rem
            padding: 7px 2px
            letter-spacing: 2px
            margin-bottom: .5rem
            background-color: $spanish-gray-2
            color: $gainsboro
            border-radius: 5px
            transition: all .2s ease-in-out
            &:hover
                transform: scale(1.1)
            &:active
                transform: scale(.9)
            &.activeLink
                width: 110%
