@import colors
@import fonts
@import desktop
@import mobile
@import tablet

body
    margin: 0
    body: 0

#root
    width: 100vw
    max-width: 100%
    height: 100vh

button
    all: unset

h1
    all: unset

h2
    all: unset

// HOME PAGE 
.homePage
    background-image: url('../img/home.jpeg')
    background-repeat: no-repeat

.greeting
    font-family: 'Dancing', 'Roboto', sans-serif

// ABOUT PAGE
.aboutPage
    background-color: $gainsboro

.aboutMeTextBlock
    color: $jet

// SKILLS PAGE
.skillsPage
    background-color: $gainsboro

// CONTACT PAGE
.contactPage
    background-color: $gainsboro
