*
    height: 100%
    width: 100%
    font-family: 'Roboto', sans-serif

body
    margin: 0
    background-image: url('./img/explosion.jpeg')
    background-repeat: no-repeat
    background-size: 100%
    background-position: center

h1
    all: unset

h2
    all: unset

.homePage
    color: white
    display: flex
    flex-direction: column

.greeting
    font-size: 3rem
    align-self: center
    display: inline-block

.proffesion
    font-size: 2rem
    align-self: center
    display: block
